@import "bootstrap.min.css";

#div_login {
    margin-left: 33%;
    margin-top: 10%;
}
#div_erro_login {
    text-align: center;
}
#div_cadastro {
    margin-left: 28%;
    margin-top: 10%;
}

.erro_validacao {
    color: red;
    font-size: 12px;
}
.msg_dados_salvos_sucesso {
    color: green;
    font-size: 12px;
}

#div_pg_404 {
    margin-left: 8%;
    margin-top: 3%;
}
#btn_sair_pag_404 {
    float: right;
    margin-top: 1%;
}

.tam_btn {
    width: 150%;
}
